<h1>Select bank</h1>

<p>Now let's pretend bank is selected, the file is downloaded and we returned to the app (inside the plugin). Click the link below to fire the data processing:</p> 

<a href="#/returndata">Continue</a>